---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import { ASSETS_IMAGES_PREFIX } from "@/consts";

interface Props {
  src: string;
  alt: string;
  width?: number;
  height?: number;
  class?: string;
  quality?: number;
  title?: string;
}

const {
  src,
  alt,
  width,
  height,
  class: className,
  quality = 90,
  title,
} = Astro.props;

const fullPath = src.startsWith(ASSETS_IMAGES_PREFIX)
  ? src
  : ASSETS_IMAGES_PREFIX + src;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/{*,**/*}.{jpeg,jpg,png,gif,webp}",
);

if (!images[fullPath]) {
  throw new Error(
    `"${fullPath}" image does not exist. Please check the path: "/src/assets/{,**/*}.{jpeg,jpg,png,gif,webp}"`,
  );
}
---

<div
  class="overflow-hidden flex items-center justify-center"
  style={`width:${width}px;height:${height}px;`}
>
  <Image
    src={images[fullPath]()}
    alt={alt}
    title={title}
    class:list={[
      className,
      "w-full h-full object-contain [image-rendering:-webkit-optimize-contrast] [transform:translateZ(0)] [backface-visibility:hidden]",
    ]}
    width={width}
    height={height}
    quality={quality}
  />
</div>
