---
import { Image } from "astro:assets";
import ShareButtons from "../ShareButtons.astro";

export interface Blog {
  id: string;
  title: string;
  href?: string;
  author?: string;
  pubDate: Date | string;
  description?: string;
  image?: string;
  tags?: string[];
  icon?: string;
}

interface Props {
  blog: Blog;
}

const origin = Astro.url.origin;

const { blog } = Astro.props;

const url = `${origin}/blogs/${blog.id}`;

function getCategoryColor(blogId: string) {
  const gradients = [
    "from-emerald-400/10 to-emerald-400/20",
    "from-amber-100 to-amber-200",
    "from-gray-100 to-gray-200",
    "from-blue-100 to-blue-200",
    "from-pink-100 to-pink-200",
    "from-purple-100 to-purple-200",
    "from-teal-100 to-teal-200",
    "from-orange-100 to-orange-200",
    "from-lime-100 to-lime-200",
    "from-cyan-100 to-cyan-200",
  ];
  const sum = blogId
    .split("")
    .reduce((acc, char) => acc + char.charCodeAt(0), 0);
  const index = sum % gradients.length;
  return gradients[index];
}

const formatDate = (date: Date | string) => {
  if (typeof date === "string") return date;
  return date.toLocaleDateString("en-US", {
    year: "numeric",
    month: "numeric",
    day: "numeric",
  });
};
---

<div
  class="relative overflow-hidden bg-slate-900/50 border border-slate-700 pt-0 gap-0 w-full flex flex-col cursor-pointer transition-all duration-200 hover:-translate-y-1 hover:border-emerald-500/50 hover:shadow-lg hover:shadow-emerald-500/10 rounded-lg"
>
  <a href={`/blogs/${blog.id}`} class="flex flex-col flex-grow">
    <header class="p-0 gap-0">
      <div class="aspect-video w-full bg-teahouse-light relative">
        {
          blog.image ? (
            <Image
              src={blog.image}
              alt={blog.title}
              width={800}
              height={450}
              class="w-full h-full object-cover"
            />
          ) : (
            <div class="flex h-full items-center justify-center">
              <div
                class={`h-full w-full bg-gradient-to-br ${getCategoryColor(blog.id)}`}
              />
            </div>
          )
        }
      </div>
    </header>
    <div class="p-4">
      <h3
        class="mt-2 line-clamp-2 font-noto-serif text-xl text-slate-300 font-bold"
      >
        {blog.title}
      </h3>
      <p class="mt-2 line-clamp-3 text-sm text-slate-300/70">
        {blog.description}
      </p>
    </div>
    <footer class="p-4 pt-0">
      <div class="flex items-center justify-between">
        <div class="text-sm text-slate-300/60">
          {formatDate(blog.pubDate)}
        </div>
        <div class="text-sm text-slate-300/60">{blog.author}</div>
      </div>
    </footer>
    <div class="flex-grow"></div>
  </a>
  <div class="flex items-center justify-between mt-2 p-4">
    <a
      href={`/blogs/${blog.id}`}
      class="text-sm font-medium text-teahouse-primary"
    >
      Read More
    </a>
    <div class="flex justify-end items-center gap-2">
      <ShareButtons
        url={url}
        title={blog.title}
        description={blog.description}
      />
    </div>
  </div>
</div>
